{% extends 'logistic_service/base.html' %}
{% load static %}

{%block HeaderBlock%}

{%endblock%}

{% block title %}
    {{title}}
{% endblock %}

{% block MainContent %}
    <div class="container">
        <form method="post">
            {%csrf_token%}
        <table class="pricing-header p-3 pb-md-4 mx-auto">

            <tr>
                <td>
                    <div class="error_wrapper">
                    {% for error in form.phone_number.errors %}
                        {{ error | escape }}
                    {% endfor %}
                    </div>
                </td>
            </tr>

            <tr>
                <td><h1 class="h3 mb-3 fw-normal">Введите номер телефона </h1></td>
                <td>{{form.phone_number}} <br></td>
            </tr>

            <tr>
                <td>
                    <div class="error_wrapper">
                        {% for error in form.region.errors %}
                            {{ error | escape }}
                        {% endfor %}
                    </div>
                </td>
            </tr>

            <tr>
                <td><h1 class="h3 mb-3 fw-normal">Регион доставки </h1></td>
                <td><div id="idDistrict">{{form.region}}</div><br></td>
            </tr>

            <tr>
                <td>
                    <div class="error_wrapper">
                        {% for error in form.city.errors %}
                            {{ error | escape }}
                        {% endfor %}
                    </div>
                </td>
            </tr>

            <tr>
                <td><h1 class="h3 mb-3 fw-normal">Город </h1></td>
                <td><div id="idDistrict">{{form.city}}</div><br></td>
            </tr>

            <tr>
                <td>
                    <div class="error_wrapper">
                        {% for error in form.district.errors %}
                            {{ error | escape }}
                        {% endfor %}
                    </div>
                </td>
            </tr>

            <tr>
                <td><h1 class="h3 mb-3 fw-normal">Район </h1></td>
                <td><div id="idDistrict">{{form.district}}</div><br></td>
            </tr>

            <tr>
                <td>
                    <div class="error_wrapper">
                        {% for error in form.street.errors %}
                            {{ error | escape }}
                        {% endfor %}
                    </div>
                </td>
            </tr>

            <tr>
                <td><h1 class="h3 mb-3 fw-normal">Улица </h1></td>
                <td><div id="idStreet">{{form.street}}</div><br></td>
            </tr>

            <tr>
                <td>
                    <div class="error_wrapper">
                        {% for error in form.home.errors %}
                            {{ error | escape }}
                        {% endfor %}
                    </div>
                </td>
            </tr>

            <tr>
                <td><h1 class="h3 mb-3 fw-normal">Дом </h1></td>
                <td>{{form.home}} <br></td>
            </tr>

            <tr>
                <td>
                    <div class="error_wrapper">
                        {% for error in form.mass.errors %}
                            {{ error | escape }}
                        {% endfor %}
                    </div>
                </td>
            </tr>

            <tr>
                <td><h1 class="h3 mb-3 fw-normal">Масса заказа </h1></td>
                <td>{{form.mass}} <br></td>
            </tr>

        </table>
            <button class="w-100 btn btn-primary btn-lg" type="submit">Оформить заказ</button>
            <span>{{error}}</span>
        </form>
    </div>
    <script>
        var regions = document.getElementById('id_region');
        var cities = document.getElementById('id_city');
        var districts = document.getElementById('id_district');
        var streets = document.getElementById('id_street');

        regions.addEventListener('change', change_city);
        cities.addEventListener('change', change_districts);
        districts.addEventListener('change', change_streets);

        function change_city() {
            cities.innerHTML = '';
            cities.append(new Option('Выберите город', 'empty'));
            {% for city in cities %}
                if (regions.options[regions.selectedIndex].text == `{{ city.region.name }}`) {
                    cities.append(new Option('{{city.name}}', '{{ city.name }}'));
                }
            {% endfor %}
        }

        function change_districts() {
            districts.innerHTML = '';
            districts.append(new Option('Выберите район', 'empty'));
            {% for district in districts %}
                if (cities.options[cities.selectedIndex].text == `{{ district.city.name }}`) {
                    districts.append(new Option('{{district.name}}', '{{ district.id }}'));
                }
            {% endfor %}
        }



        function change_streets() {
            streets.innerHTML = '';
            streets.append(new Option('Выберите улицу', 'empty'));
            {% for street in streets %}
                if (districts.options[districts.selectedIndex].text == `{{ street.district.name }}`) {
                    streets.append(new Option('{{street.name}}', '{{ street.name }}'));
                }
            {% endfor %}
        }
    </script>
{% endblock %}