{% extends 'logistic_service/base.html' %}
{% load static %}

{%block HeaderBlock%}
    <link rel="stylesheet" href="{% static 'css/rows.css'%}">
{%endblock%}

{% block title %}
    {{title}}
{% endblock %}

{% block MainContent %}

<div class="container">
    <table style="width:100%">
        <tr class="text-center">
            <td class="themed-grid-col" style="width:10%">Номер заказа</td>
            <td class="themed-grid-col" style="width:30%">Дата заказа</td>
            <td class="themed-grid-col" style="width:40%">Адрес доставки</td>
            <td class="themed-grid-col" style="width:20%">Статус</td>
        </tr>

        {% for order in orders %}
        <tr class="text-center">
            <td class="themed-grid-col" style="width:10%">{{ order.id }}</td>
            <td class="themed-grid-col" style="width:30%">{{ order.date }}</td>
            <td class="themed-grid-col" style="width:40%">{{order.address}}</td>
            <td class="themed-grid-col" style="width:20%">{{ order.state }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}